version: "3.3"
services:
  {{ env['CONTAINER'] }}:
    container_name: {{ env['CONTAINER'] }}
    image: {{ env['ECR_REGISTRY'] }}/{{ env['ECR_REPOSITORY'] }}:{{ env['IMAGE_TAG'] }} 
    ports:
      - {{ env['PORTS'] }}
    networks:
      - app-network
    log_driver: "awslogs"
    log_opt:
      awslogs-region: "eu-west-1"
      awslogs-group: "{{ env['CONTAINER'] }}"
      awslogs-stream: "{{ env['CONTAINER'] }}-stream"
      awslogs-create-group: true

volumes:
  grafana-data:

networks:
  app-network:
    driver: bridge
