spring:
  rabbitmq:
    host: {{ env['RABBITMQ_HOST'] }}
    password: {{ env['RABBITMQ_PASSWORD'] }}
    port: {{ env['RABBITMQ_PORT'] }}
    username: {{ env['RABBITMQ_USERNAME'] }}
  server:
    port: 8090